.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-bottom: 12rem;
}
.loader h1{
    margin-bottom: 1rem;
}

.loader .circle{
    width: 2rem;
    margin-top: 2rem;
    animation: turn 2s ease infinite;
}

@keyframes turn {
    100%{
        transform: rotate(360deg);
    }
}