form{
    display: flex;
    justify-content: space-between;
    margin: 1.125rem 0 2rem 0;
    height: 3.5rem;
}
form input{
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    width: calc(100% - 8.4rem);
    padding: 1.125rem .75rem;   
}
input::placeholder{
    font-family: inherit;
    font-size: .9rem;
    color: inherit;
}
form input:focus{
    border: 2px solid #2F80ED;
}
