.to-do{
    display: flex;
    flex-wrap: wrap;
}
.to-do:not(:last-child){
    margin-bottom: 1.5rem;
}
.to-do input,
.to-do label{
    display: inline-block;
 
}
.to-do input{
    cursor: pointer;
}
.to-do input:checked + label{
    text-decoration: line-through;
}
.to-do label{
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: .4rem;
}
.to-do button{
    width: 1rem;
    margin-left: auto;
    overflow: hidden;
}